:root {
  --text-color: grey;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.product-card {
  width: 450px;
  padding: 16px;
  position: relative;
  border: 1px solid black;
}

.product-discount-badge {
  display: inline-block;
  background-color: yellow;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.product-image-container {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 4px;
}

.product-description {
  margin-bottom: 4px;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
}

.more-product-description a {
  color: #a6a6a6;
}

.more-product-description {
  text-decoration: underline;
  margin-bottom: 28px;
  cursor: pointer;
  font-size: 13px;
  outline: 0;
}

.product-delivery-info-container {
  width: 100%;
  height: 100px;
  padding: 15px 10px;
  margin-bottom: 50px;
  background-color: #f8f8f8;
}

.product-availability {
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
}

.product-availability a {
  color: #398000;
}

.product-availability a:hover {
  color: #a3ec06;
}

.product-delivery-availability {
  margin-top: 10px;
  text-decoration: underline;
  line-height: 24px;
  gap: 8px;
  display: flex;
  font-size: 14px;
}

.product-delivery-availability a {
  color: black;
}

.product-delivery-availability a:hover {
  color: rgb(82, 124, 209);
}

.product-price-container {
  width: 154px;
  position: relative;
  margin-left: 40px;
}

.product-discount {
  border-radius: 4px 4px 0 0;
  background-color: yellow;
  color: black;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  padding: 4px;
  font-weight: 700;
}

.product-price {
  border-radius: 0 0 4px 4px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 4px;
}

.product-price-now {
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}

.product-price-before {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: line-through;
}

.product-price-dph {
  color: rgba(190, 187, 187, 1);
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
}

.product-garancy-badge {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 11px;
}

.product-garancy-badge a {
  color: #398000;
}

.product-garancy-badge a:hover {
  color: #a3ec06;
}

.product-installments-container {
  width: 154px;
  position: absolute;
  bottom: 15%;
  left: 60%;
}

.product-installments {
  font-size: 16px;
  color: red;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.product-installments-info {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.product-installments-amount {
  font-size: 26px;
  line-height: 30px;
}

.product-installments-calculation {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  font-weight: 250;
}

.product-installments-calculation a {
  color: black;
}

.product-installments-calculation a:hover {
  color: rgb(82, 124, 209);
}

.add-to-cart {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
  background-color: #86c009;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #658f09;
}

.add-to-cart a,
.add-to-cart i {
  color: white;
  text-decoration: none;
}
